.App {
  text-align: center;
  overflow-x: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 15px;
}

.add-note-btn {
  background-color: #61dafb;
  color: white;
  border: none;
  border-radius: 10%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
}

.notes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.note {
  background-color: #f0f0f0;
  padding: 20px;
  margin: 10px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.delete-note-btn {
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
}

.new-note-form {
  margin-top: 20px;
}

.note-input {
  width: 100%;
  margin-bottom: 10px;
}

.save-note-btn {
  background-color: #61dafb;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
}